<div class="jumbotron">
  <div class="container">
    <br><br><br><br><br><br>
    <h1>Hello, world</h1>
    <p>quick about me section can go here</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">More About Me &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Car Projects</h2>
        </div>
        <div class="panel-body">  
          <%if @carPost!=nil %>
            <h4><%= @carPost.name %></h4>
            <p><%= truncate(@carPost.body) %></p>
            <%= link_to "View more &raquo;".html_safe, posts_path(:category => "Car"), class: "btn btn-default" %>
          <% else %>
            <h4>Coming Soon!</h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Photo Updates</h2>
        </div>
        <div class="panel-body">
          <% if @photoPost!=nil %>
            <h4><%= @photoPost.name %></h4>
            <p>update this with thumbnail</p>
            <%= link_to "View more &raquo;".html_safe, posts_path(:category => Photos), class: "btn btn-default" %>
          <% else %>
            <h4>Coming Soon!</h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Tech Projects</h2>
        </div>
        <div class="panel-body">
          <% if @techPost != nil %>
            <h4><%= @techPost.name %></h4>
            <p><%= truncate(@carPost.body) %></p>
            <%= link_to "View more &raquo;".html_safe, posts_path(:category => "Tech", class: "btn btn-default" %>
          <% else %>
            <h4>Coming Soon!</h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
